---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "bootstrap";
@import "banner";
@import "main-view";
@import "side-bar";

$canvas-color: grey;
$main-frame-color: white;
$main-frame-max-width: 960px;
$margin: auto;

$footer-color: #E5E4E2;
$footer-font-size: 10px;

body
{
  background-color: $canvas-color;
  height: 100%;
  padding: 0;
  margin: 0;

}
.main-frame{
  background-color: $main-frame-color;
  margin-right: $margin;
  margin-left: $margin;
  max-width: $main-frame-max-width;
}
.head-wrapper
{
  position: relative;
  margin-left: auto;
margin-top: 0px;
  padding-top: 5px;
width: auto;
  height: auto;
text-align: center;
}

.inner-wrapper
{
  clear: both;
  position: relative;
  width: 100%;
  #height: 100%;
  background-color: brown;
}

.foot-wrapper
{
  border-top-right-radius: 30px;
  clear:both;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
padding-top: 10px;
padding-bottom: 50px;
  background-color: $footer-color;
  color:$footer-color - 80;

  .footer-content
  {
    position:inherit;
  display:inline-block;
  width: 20%;
  text-align: left;
font-size: $footer-font-size;
float: left;
  }

}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}
