---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "praqma/fonts";
@import "praqma/banner";
@import "praqma/main-view";
@import "praqma/blogs";
@import "praqma/side-bar";
$canvas-color: white;
$main-frame-color: white;
$main-frame-max-width: 960px;
$margin: auto;
$footer-color: #e5e4e2;
$footer-font-size: 10px;
$footer-hieght: 200px;
$font-weight: 500;
body {
  background-color: $canvas-color;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
  font-weight: $font-weight;
  #bar-icon {
    visibility: hidden;
  }
}
.main-frame {
  background-color: $main-frame-color;
  margin-right: $margin;
  margin-left: $margin;
  max-width: $main-frame-max-width;
  margin-bottom: 0;
}
.head-wrapper {
  position: relative;
  margin-left: auto;
  margin-top: 0;
  padding-top: 5px;
  width: auto;
  height: auto;
  text-align: center;
}
.foot-wrapper {
  height: $footer-hieght;
  clear: both;
  position: relative;
  display: block;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding-top: 5px;
  background-color: $footer-color;
  color: $footer-color - 80;
  line-height: 1;
  .footer-content {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 5px;
    position: relative;
    display: block;
    width: 15%;
    text-align: left;
    font-size: $footer-font-size;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body {
    #bar-icon {
      visibility: visible;
      max-height: 30px;
      min-height: 30px;
      padding-top: 5px;
      margin-bottom: 0;
      background:transparent;
      .social-icons-tray {
        li {
          list-style: none;
          margin: 0;
          padding: 0;
          display: inline;
          a {
            text-decoration: none;
            padding-bottom: 0;
            img {
              float: right;
              width: 25px;
              max-width: 25px;
              height: 25px;
              max-height: 25px;
              opacity: 0.45;
            }
            img:hover {
              cursor: pointer;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  body {
    #bar-icon {
      visibility: visible;
      max-height: 30px;
      min-height: 30px;
      padding-top: 5px;
      margin-bottom: 0;
      background:transparent;
      .social-icons-tray {
        li {
          list-style: none;
          margin: 0;
          padding: 0;
          display: inline;
          a {
            text-decoration: none;
            padding-bottom: 0;
            img {
              float: right;
              width: 25px;
              max-width: 25px;
              height: 25px;
              max-height: 25px;
              opacity: 0.45;
            }
            img:hover {
              cursor: pointer;
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .foot-wrapper {
    height: auto;
    .footer-content {
      font-size: 9px;
      visibility: hidden;
      .address {
        visibility: visible;
      }
    }
  }
}
