<div class="main-view col-md-9 col-sm-12">

  <div class="large-pic thumbnail">
    <!--p id="tag-1">Ribbon</p>
  <p id="tag-2">---Ribbon---</p>
<p id="tag-3">--Ribbon--</p>
<a id="click-tag" href="#">--VIEW ALL COURSES--</a-->
    <img id="large-view" src="/images/front.png" />

  </div>

  <div class="small-view">


    <div id="drop-1" class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <img src="/images/news-pic.png" alt="">
        <div class="caption">
          <a href="#"><b>NEWS</b></a>
          <p>Learn how Microsoft avoided “not invented here” syndrome and adopted Git. Ethomson speaks at code-conf</p>
        </div>
      </div>
    </div>


    <div id="drop-2" class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <img src="/images/features-pic.png" alt="">
        <div class="caption">
          <a href="#"><b>FEATURES</b></a>
          <p>Our services, ranging from development of plain vanilla software, over software verification and continuous delivery assessment..</p>
        </div>
      </div>
    </div>


    <div id="drop-3" class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <img src="/images/conf-pic.png" alt="">
        <div class="caption">
          <a href="#"><b>CONFERENCE</b></a>
          <p>Our event are relevant to managers, software architects developers, project managers, agile coaches and everyone who’s got DevOps at heart.</p>
        </div>
      </div>
    </div>

  </div>

</div>
