<div class="logo">
  <img src="/images/praqma.png">
  <br>The Continuous Delivery Company
</div>

<div class="navbar  navbar-default">
  <div class="container-fluid">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-bar" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu-bar">
      <ul class="nav navbar-nav">
        <li><a href="/">HOME</a></li>
        <li><a href="/consulting/">CONSULTING</a></li>
        <li><a href="/training/">TRAINING</a></li>
        <li><a href="/cases/">CASE STUDIES</a></li>
        <li><a href="/blogs/">BLOGS</a></li>
        <li><a href="/contact/">CONTACT</a></li>
      </ul>

    </div>

  </div>
</div>
<div id="motto">
  <marquee behavior="scroll" scrollamount="3" direction="left"><p>-In Praqma we strive to change the world...</p></marquee>
</div>
