

<div>
  <img src="/images/praqma.png">
  <br>The Continuous Delivery Company
</div>

  <div class="navbar  navbar-default">
    <div class="container-fluid">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navHeaderCollapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

<div class="collapse navbar-collapse" id="navHeaderCollapse">
  <ul class="nav navbar-nav">
    <li><a href="#">HOME</a></li>
<li><a href="#">CONSULTING</a></li>
<li><a href="#">TRAINING</a></li>
<li><a href="#">CASE STUDIES</a></li>
<li><a href="#">NEWS</a></li>
<li><a href="#">CONTACT</a></li>
  </ul>

</div>

    <!--a href="#">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">CONSULTING</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">TRAINING</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">CASE STUDIES</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">NEWS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">CONTACT</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
  </div>
  </div>
<div id="moto">
  -In Praqma we strive to change the world...
</div>
