<footer class="foot-wrapper">
<b>OFFICES</b><br/>
<hr/>
  <div class="footer-content">
  <strong>Praqma A/S</strong>
  <br/>Allerød Stationsvej 4
  <br/>DK-3450 Allerød
  <br/>Denmark<br/>
  <br/>CVR/VAT: DK 30987225
  <br/>+45 36 77 27 62
  <br/>info@praqma.net
</div>

<div class="footer-content">
<strong>Praqma Copenhagen</strong>
<br/>Borgergade 24B, 2. sal
<br/>1300 København K
<br/>Denmark<br/>
<br/>CVR/VAT: DK 30987225
<br/>+45 42 71 17 78
<br/>info@praqma.net
</div>

<div class="footer-content">
<strong>Praqma Aarhus</strong>
<br/>Nørre Alle 22, 1. sal
<br/>8000 Aarhus C
<br/>Denmark<br/>
<br/>CVR/VAT: DK 36085320
</div>

<div class="footer-content">
<strong>Praqma Norway A/S</strong>
<br/>Oslo, Norway<br/>
<br/>+47 48676360
<br/>VAT: 914758440
</div>

<div class="footer-content">
<strong>Praqma Sweden AB</strong>
<br/>Gustav Adolfs Torg 10A
<br/>Malmö 211 39
<br/>Sweden<br/>
<br/>VAT: SE556976195901
</div>

</div



</footer>
