<div class="side-bar">

    <div class="menu-item">
      <img src="/images/mail-icon.png"/>
      <a href="#">MAIL US</a>
    </div>

    <div class="menu-item">
      <img src="/images/call-icon.png"/>
      <a href="#">CALL US</a>
    </div>

    <div class="menu-item">
      <img src="/images/chat-icon.png"/>
      <a href="#">CHAT WITH US</a>
    </div>

    <div class="sub-item"><a href="#"><img src="/images/linkedin-icon.png"/></a></div>
    <div class="sub-item"><a href="#"><img src="/images/twitter-icon.png"/></a></div>


<!--a class="comments" href="#"> <span>textarea here</span> READ MORE... </a-->

<span>

  <img src="/images/comments-pic.png"/>
  <p>all of text goes herekjdkjdkjdlwdj kljdklqwjdkl2jdew kjdkqjdwkqjwd kqjwdekqwejdklqw hjhkahsdkhadkhkkj dsh

  <br/><a href="#">READ MORE...</a></p>

  </span>

</div>
