<div class="side-bar">

    <div class="menu-item">
      <img src="/images/mail-icon.png"/>
      <a href="#">MAIL US</a>
    </div>

    <div class="menu-item">
      <img src="/images/call-icon.png"/>
      <a href="#">CALL US</a>
    </div>

    <div class="menu-item">
      <img src="/images/chat-icon.png"/>
      <a href="#">CHAT WITH US</a>
    </div>

    <div class="sub-item"><a href="#"><img src="/images/linkedin-icon.png"/></a></div>
    <div class="sub-item"><a href="#"><img src="/images/twitter-icon.png"/></a></div>




  <div class="flexslider">
    <ul class="slides thumbnail">

      <li class="slides">
        <a href="#"><img src="/images/comments-pic.png"/>
          </a>
          <p>"Praqma was there all the way from the beginning, taking on the role as strategic advisor on all matters of the development as well as hands on configuration of tools."
                  <br/><a href="#">READ MORE...</a>
                  </p>
      </li>

      <li class="slides">
        <a href="#"><img src="/images/news-pic.png"/>
        </a>
          <p>"_Praqma_"
          <br/><a href="#">READ MORE...</a>
        </p>
      </li>

    </ul>
  </div>

  <!--img src="/images/comments-pic.png"/>
  <p>"Praqma was there all the way from the beginning, taking on the role as strategic advisor on all matters of the development as well as hands on configuration of tools."
  <br/><a href="#">READ MORE...</a></p-->

</div>
