
@charset "utf-8";


/*banner*/
$banner-font-stack: 'Brush Script MT', cursive;
$logo-width: 100px;
$logo-height: 100px;
$banner-color: white;
/*menu*/
$menu-font-stack: Arial;
$menu-font-size: 17px;
$menu-font-color: #454545;
$hover-color: orange;
$color-visted: #454545;
$border-radius: 3px;

/*moto*/
$moto-font-stack: Verdana;
$moto-font-size: 15px;
$moto-ribbon-color: black;
$moto-font-color: white;
$moto-text-padding: 10px;

.head-wrapper
{
  background-color: $banner-color;
.logo{
  font-family: $banner-font-stack;
img
{
width: $logo-width;
height: $logo-height;
}
}

#motto
{
  position: relative;
  padding-top: $moto-text-padding;
  padding-bottom: $moto-text-padding - 2;
  background-color: $moto-ribbon-color;
  color: $moto-font-color;
  text-align: right;
  font-family: $moto-font-stack;
font-size: $moto-font-size;
}
  }
#menu-bar
{
  align-items: center;
  align-self: center;
  align-content: center;
}

  .navbar{
    margin-bottom: 0px;
    }
    .navbar-default{
      background-color: transparent;
      border-color: transparent;
          }

          .navbar .navbar-nav {
              display: inline-block;
              float: none;
          }

          .navbar .navbar-collapse {
              text-align: center;
          }
