@charset "utf-8";
$main-view-width: 70%;
$main-view-position: left;

/*tag-lines*/
$tag-line-margin: 30px;

$tag-line-1-size: 20px;
$tagline-1-color: orange;
$tagline-1-font-color: white;
$tag-line-1-font: Geneva;

$tag-line-2-size: 30px;
$tagline-2-color: black;
$tagline-2-font-color: white;
$tag-line-2-font: Courier New;

$click-tag-font-color: orange;
$click-tag-background-color: white;
/*for small pic*/
$text-position: 100px;
$color-visted: orange;
$hover-color: black;
$default-color: grey;

.main-view
{
  width: $main-view-width;
  height: 100%;
  float: $main-view-position;
  background-color: white;
position: relative;

p{
  position: absolute;
  float: left;
vertical-align: middle;
}

#click-tag
{
position: relative;
  clear: right;
  float: right;
  vertical-align: bottom;
  text-decoration: none;
  background-color: $click-tag-background-color;
  color: $click-tag-font-color;

    }

#tag-1{
    z-index: 1;
margin-top: $tag-line-margin;
background-color:$tagline-1-color;
color: $tagline-1-font-color;
font-size: $tag-line-1-size;
font-family: $tag-line-1-font;
line-height: $tag-line-1-size ;
}

#tag-2{
  z-index: 2;
  margin-top: $tag-line-margin + $tag-line-1-size;
  background-color: $tagline-2-color;
  color: $tagline-2-font-color;
  font-size: $tag-line-2-size;
  font-family: $tag-line-2-font;
}

#tag-3{
  z-index: 3;
  margin-top: $tag-line-margin + $tag-line-1-size + $tag-line-2-size;
  background-color: $tagline-2-color;
  color: $tagline-2-font-color;
  font-size: $tag-line-2-size;
  font-family: $tag-line-2-font;
}


#large-view
{
  display: block;
  position: relative;
  width: 100%;
  height: 70%;
  margin-top: 0px;

}

.small-view
{
position: relative;
width: 100%;
max-height: 30%;
vertical-align: bottom;
padding-top: 15px;
a:visited {
    text-decoration: none;
    color: $color-visted;
}

a:hover {
    text-decoration: none;
    color: $hover-color;
  }

.drop  {
  display: block;
  position: relative;
  text-align: left;
  text-decoration: none;
  font-weight:lighter;
  font-size: 15px;
  padding-top: $text-position;
  color: $default-color;
  float: left;
  width: 200px;
  height: 150px;
  margin-left: 0px;
  margin-left: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  }
}
}
