@charset "utf-8";
$side-bar-width: 30%;
$side-bar-position: right;
$side-bar-font: arial;
$side-bar-color: white;
$side-bar-text-color: orange;
$icon-size: 50px;
$content-position: 15px;

$comments-font:arial;

.side-bar
{

  position: relative;
  clear:$side-bar-position;
    width: $side-bar-width;
    float: $side-bar-position;
background-color: $side-bar-color;
font-family:  $side-bar-font;

.menu-item
{
display: block;
vertical-align: middle;
margin-left: $content-position;
padding-left: $content-position;
margin-top: $content-position+5;
letter-spacing: 2px;

    img{
    width: $icon-size;
    height: $icon-size;
      }

  a{
    margin-left: 20px;
    color: $side-bar-text-color;
    text-decoration: none;
  }
}

  .sub-item
  {
    a{
      display: block;
      vertical-align: middle;
      margin-left: $content-position;
      padding-left: $content-position;
      margin-top: $content-position+5;
    img{
    width: $icon-size;
    height: $icon-size;
      }
}
  }


  span
  {
font-family: $comments-font;
  margin-left: $content-position+20;
    text-align: center;

}
}
