
@charset "utf-8";
/*banner*/
$banner-font-stack: 'Oswald', 'Indie Flower';
$logo-width: 100px;
$logo-height: 100px;
$banner-color: white;
$logo-font-size: 25px;
/*menu*/
$menu-font-stack:  Arial;
$menu-font-size: 17px;
$menu-font-color: #454545;
$hover-color: orange;
$color-visted: #454545;
$border-radius: 3px;
$menu-color:#f8f8f8;
/*moto*/
$moto-font-stack: 'Ubuntu';
$moto-font-size: 15px;
$moto-ribbon-color: black;
$moto-font-color: white;
$moto-text-padding: 10px;
$letter-spacing:2px;
.head-wrapper {
  background-color: $banner-color;
  .logo {
    font-family: $banner-font-stack;
    font-size: $logo-font-size;
    img {
      width: $logo-width;
      height: $logo-height;
    }
  }
  #motto {
    position: relative;
    padding-top: $moto-text-padding;
    padding-bottom: $moto-text-padding - 2;
    background-color: $moto-ribbon-color;
    color: $moto-font-color;
    text-align: right;
    font-family: $moto-font-stack;
    font-size: $moto-font-size;
    letter-spacing: $letter-spacing;
  }
}
.navbar {
  margin-bottom: 1px;
  min-height: 40px;
  li {a {
      padding-top: 10px;
      padding-bottom: 0;
    }
  }
}
.navbar-default {
  background-color: $menu-color;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}
.navbar .navbar-collapse {
  text-align: center;
}
.container-fluid {
  padding-left: 80px;
  padding-right: 0;
}
