@charset "utf-8";
$small-view-font-size: 11px;
$drop-1-color: grey;
$drop-2-color: black;
$drop-3-color: orange;
.header-grey {
  h1,
  h2,
  h3,
  h4 {
    color: grey;
  }
}
.header-orange {
  h1,
  h2,
  h3,
  h4 {
    color: orange;
  }
}
.caption.text-grey {
  color: grey;
}
.thumbnail {
  a {
    text-decoration: none;
  }
  h3 {
    margin-top: 3px;
    margin-bottom:0px;
    font-size: 14px;
    font-weight:700;
  }
}
.inner-wrapper {
  margin-top: 20px;
}
.thumbnail.no-border {
  border: none;
}
.main-view {
  .caption {
    padding-left: 0;
    font-size: $small-view-font-size;
    p {
      margin-top: 10px;
    }
  }
}

.col-sm-4{
  .thumbnail{
    max-width:290px;
  }
}


@media only screen and (min-width: 768px) and (max-width: 959px) {

}
@media only screen and (max-width: 767px) {

}
