@charset "utf-8";
$side-bar-width: 30%;
$side-bar-position: right;
$side-bar-font: arial;
$side-bar-color: white;
$side-bar-text-color: orange;
$icon-size: 50px;
$content-position: 15px;
$comments-font: arial;
$slider-font-size: 11px;

.side-bar {
  padding-left: 20px;
  font-family: 'Open Sans';
  ul.icons {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 0;
      padding-bottom: 10px;
      img {
        width: 50px;
        max-width: 50px;
        height: 50px;
        max-height: 50px;
      }
    }
  }
  .flexslider {
    margin-top: 10px;
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    float: none;
    ul {
      font-family: $comments-font;
      list-style: none;
      text-align: center;
      border: none;
      li {
        font-size: $slider-font-size;
        font-family: 'Open Sans';
      }
    }
  }
}
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 958px) {.side-bar {
    ul.icons {
    visibility: hidden;
    display: none;
  }
}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {.side-bar {
    padding-left: 20px;
    ul.icons {
      visibility: hidden;
      display: none;
    }
    .slider {.flexslider {ul {li {
            font-size: $slider-font-size + 5;
          }
        }
      }
    }
  }
}
