@charset "utf-8";
$side-bar-width: 30%;
$side-bar-position: right;
$side-bar-font: arial;
$side-bar-color: white;
$side-bar-text-color: orange;
$icon-size: 50px;
$content-position: 15px;

$comments-font:arial;

.side-bar
{

  clear:$side-bar-position;
    width: $side-bar-width;
    float: $side-bar-position;
background-color: $side-bar-color;
font-family:  $side-bar-font;
padding: 5px;

.social-icons-tray{
display:inline-block;
margin-left: 0px;
margin-right: auto;
margin-bottom: 10px;
border-bottom: 1px solid;
border-color: gery;
width: 100%;
max-width: 100%;

a{
  text-align: center;
  text-decoration: none;
padding-bottom: 10px;
  img{

    width: 30px;
    max-width: 30px;
    height: 30px;
    max-height: 30px;
  }
}
}
.flexslider{

}

  ul
  {
  font-family: $comments-font;
    list-style:none;
  text-align: center;
  border: none;
  }

}
