@charset "utf-8";
$side-bar-width: 30%;
$side-bar-position: right;
$side-bar-font: arial;
$side-bar-color: white;
$side-bar-text-color: orange;
$icon-size: 50px;
$content-position: 15px;
$comments-font:  arial;
.side-bar {
  clear: $side-bar-position;
  width: $side-bar-width;
  float: $side-bar-position;
  background-color: $side-bar-color;
  font-family: $side-bar-font;
  padding: 5px;
  .flexslider {
    display: block;
    width: 100%;
    max-width: 100%;
    float: none;
    ul {
      font-family: $comments-font;
      list-style: none;
      text-align: center;
      border: none;
    }
  }
}
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {.side-bar {
    clear: $side-bar-position;
    width: 200px;
    display: block;
    position: relative;
    background-color: $side-bar-color;
    font-family: $side-bar-font;
    padding: 5px;
  }
}
