<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
<script src = "javascripts/jquery-1.11.1.js"></script>
<script src = "javascripts/bootstrap.js"></script>

    <div class="main-frame">
<div class="head-wrapper">
{% include banner.html %}
    </div>
          <div class="inner-wrapper">
            {% include side-bar.html %}
            {{ content }}
              </div>

<div class="foot-wrapper">
{% include footer.html %}
  </div>

</div><!--  End of main-frame-->
    </body>

</html>
